/* GLOBAL STYLES */
html {
  font-size: 62.5%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  font-family: $bodyFont;
  font-size: 2rem;
  color: $primaryTextColor;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 600px) {
    width: 92%;
  }
}

h1,
h3,
h4 {
  text-transform: lowercase;
  font-family: $headerFont;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  margin: 20px 0;
}

h4::after {
  content: '';
  display: block;
  background-color: $accentColor;
  height: 13px;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: -1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

a {
  color: $primaryColor;
  text-decoration: none;
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: $secondaryColor;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-show-focus:focus,
.sr-only-show-focus:active {
  clip: auto !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  padding: 10px;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
  z-index: 99;
  background-color: $pink;
  color: $white;
  font-size: 1.8rem;
  font-family: $bodyFont;
  text-transform: none;
  font-weight: normal;
}
