header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2)),
    url(../assets/header_gradient.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  @media (max-width: 1023px) {
    background-position: center left;
  }
}

.header__content {
  height: 100vh;
  align-items: center;
  justify-content: center;

  @media (max-width: 1023px) {
    height: 95vh;
  }

  @media (max-width: 600px) {
    height: 400px;
  }
}

.header__titles {
  margin-top: -80px;

  @media (max-width: 1023px) {
    margin-top: -100px;
  }

  @media (max-width: 500px) {
    margin-top: -100px;
  }
}

h1,
h2,
.header__content i {
  display: block;
  margin: 0;
  text-align: center;
}

h1,
h2 {
  color: $secondaryTextColor;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 12rem;

  @media (max-width: 769px) {
    font-size: 8rem;
  }

  @media (max-width: 500px) {
    font-size: 6rem;
  }

  @media (max-width: 375px) {
    font-size: 5rem;
  }
}

.hi {
  font-size: 6rem;
  line-height: 0.7;
  display: block;
  position: relative;
  left: -200px;
  top: 20px;

  @media (max-width: 769px) {
    font-size: 4rem;
    left: -135px;
  }

  @media (max-width: 500px) {
    font-size: 3rem;
    left: -100px;
    line-height: 1.2;
  }

  @media (max-width: 375px) {
    font-size: 2.5rem;
    left: -80px;
    line-height: 1.5;
  }
}

.period {
  color: $primaryColor;
}

h2 {
  font-family: $bodyFont;
  text-transform: uppercase;

  @media (max-width: 500px) {
    font-size: 2.5rem;
  }

  @media (max-width: 375px) {
    font-size: 2rem;
  }
}

// NAVIGATION MENU

.nav__toggle {
  position: fixed;
  padding: 0;
  top: 25px;
  right: 25px;
  border: 0;
  z-index: 10;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: $secondaryColor;
  transition: 0.3s all;
  cursor: pointer;

  @media (max-width: 500px) {
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus {
    background-color: $primaryColor;
  }

  i {
    font-size: 3rem;
    color: $secondaryTextColor;
    position: relative;
    top: 1px;

    @media (max-width: 500px) {
      font-size: 2.7rem;
    }
  }
}

.nav-visible {
  display: block;
}

nav {
  display: none;
  opacity: 0.95;
  height: 100vh;
  width: 100%;

  position: fixed;
  right: -100%;
  transition: 0.3s all;

  background: $accentColor;
  font-family: $headerFont;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;

  z-index: 2;

  &.open {
    right: 0;
    transition: 0.3s all;
  }

  &.closed {
    right: -100%;
  }
}

nav ul {
  text-align: center;
  justify-content: center;
  padding: 60px 50px;
  height: 100vh;
  font-size: 4rem;

  @media (max-width: 769px) {
    font-size: 3rem;
    padding: 50px 30px;
  }

  a {
    padding: 20px 40px;
  }

  li {
    width: 100%;
    position: relative;
  }
}

// for accessibility
.nav__close:focus,
.nav__close:active {
  position: absolute;
  bottom: 0;
}

// animation for scroll down icon
.scroll-down {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-bottom: 70px;
  transform: translate(-50%, 0);

  &:hover > .scroll-down__icon,
  &:focus > .scroll-down__icon {
    color: $primaryColor;
  }
}

.scroll-down__icon {
  font-size: 5rem;
  color: $accentColor;
  transition: 0.3s all;
}

.slide-bottom {
  -webkit-animation: slide-bottom 1s ease-in 0.3s infinite;
  animation: slide-bottom 1s ease-in 0.3s infinite;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-16 12:19:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(50px);
  }
}
@keyframes slide-bottom {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(50px);
  }
}
