// FONT
$bodyFont: "Muli", sans-serif;
$headerFont: "Montserrat", sans-serif;

// COLOURS
$pink: #cc076e; // #e02255;
$yellow: #fdf4b4;
$darkBlue: #62239a; // #0074b8;
$turquoise: #24bebb;
$black: #000;
$white: #fff;

$primaryTextColor: $black;
$secondaryTextColor: $white;

$primaryColor: $pink;
$secondaryColor: $darkBlue;
$tertiaryColor: $turquoise;
$accentColor: $yellow;
